.customer-name {
    background-color: orange;
    padding: 2px 5px;
    border-radius: 5px;
    display: inline-block;
  }
  .customer-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .lifetime {
    margin-left: 10px; /* Adjust the margin as per your preference */
  }
  .straight-line {
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }